<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>395332207577-eebtcmhm1sm2eme1h2b2tsdqm52aq7j4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.395332207577-eebtcmhm1sm2eme1h2b2tsdqm52aq7j4</string>
	<key>API_KEY</key>
	<string>AIzaSyCPOOckLUuPBfOouYZMo6gBDozdoZMkXS4</string>
	<key>GCM_SENDER_ID</key>
	<string>395332207577</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Muelas.FreeTreeApp</string>
	<key>PROJECT_ID</key>
	<string>freetree-a1d47</string>
	<key>STORAGE_BUCKET</key>
	<string>freetree-a1d47.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:395332207577:ios:2b78eb4583d6aeb10c8fc8</string>
</dict>
</plist>